#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 16px 20px;
  transition: all .2s;

  img {
    max-height: 24px;
  }

  h1 {
    height: 24px;
  }

  .util {
    .menu {
      filter: invert(1);
    }
  }

  &.down {
    // background-color: rgba(53, 81, 164, .8);
    // img {
    //   filter: invert(1);
    // }
  }

  &.main {
    h2, .share, .back {
      @include blind;
    }
  }

  &.sub {
    background-color: $primary-white;
    h1 {
      @include blind;
    }
    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      transform: translate(-50%, -50%);
    }
    .util {
      display: flex;
      gap: 0 16px;
    }
    .menu {
      filter: invert(0);
    }
  }
}

#toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 118px;
  border-radius: 16px 16px 0px 0px;
  //opacity: 0.95;
  background: linear-gradient(100deg, #3551A4 25.67%, #0A0E1D 80.54%);
  backdrop-filter: blur(2px);
  transition: bottom .5s;
  // &.my {
  //   display: none;
  // }
  // &.tour {
  //   background: linear-gradient(100deg, #3551A4 25.67%, #A2DFE3 80.54%);
  // }
  &.hide {
    bottom: -150px;
  }
  .membership-certify {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    height: 58px;
    padding: 0 30px;
    color: $primary-white;
    font-weight: 600;
    line-height: 24px;
    &::after {
      content: '더보기';
      position: absolute;
      top: 50%;
      right: 30px;
      width: 16px;
      height: 16px;
      margin-top: -8px;
      background-image: url('../../images/m-16-arrow.png');
      background-size: contain;
      background-repeat: no-repeat;
      text-indent: -999em;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 40px;
    border-radius: 16px 16px 0px 0px;
    background-color: $primary-white;
    li:not(.my) {
      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px 0;
        width: 60px;
        font-size: 11px;
        line-height: 18px;
        .icon {
          width: 24px;
          height: 24px;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      &.membership .icon {
        background-image: url('../../images/toolbar-membership.png');
      }
      &.tour .icon {
        background-image: url('../../images/toolbar-tour.png');
      }
    }
    .my {
      .box {
        display: flex;
        position: relative;
        width: 40px;
        height: 40px;
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          transform: rotate(-45deg);
          flex-shrink: 0;
          border-radius: 10px;
          background: linear-gradient(187deg, #3551A4 28.34%, #A1E2B8 110.1%);
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
        }
        .text {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          margin-top: 3px;
          @include text-en-bold;
          color: $primary-white;
          text-align: center;
          transform: translateY(-50%);
        }
      }
    }
  }
}

#toolbar-a2 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 118px;
  border-radius: 16px 16px 0px 0px;
  background: linear-gradient(90deg, #3551A4 0%, #5B7BDA 100%);
  backdrop-filter: blur(6px);
  transition: bottom .5s;
  &.hide {
    bottom: -150px;
  }
  .membership-certify {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    height: 58px;
    padding: 0 30px;
    color: $primary-white;
    font-weight: 600;
    line-height: 24px;
    &::after {
      content: '더보기';
      position: absolute;
      top: 50%;
      right: 30px;
      width: 16px;
      height: 16px;
      margin-top: -8px;
      background-image: url('../../images/m-16-arrow.png');
      background-size: contain;
      background-repeat: no-repeat;
      text-indent: -999em;
    }
  }
  .menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 40px;
    border-radius: 16px 16px 0px 0px;
    background-image: url('../../images/a2/toolbar-bg.png');
    background-position: center bottom;
    background-size: auto 60px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 30%;
      height: 100%;
      background-color: #141414;
    }
    &::before {
      left: 0;
      border-radius: 16px 0 0px 0px;
    }
    &::after {
      right: 0;
      border-radius: 0 16px 0px 0px;
    }
    li {
      position: relative;
      z-index: 1;
    }
    li:not(.my) {
      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px 0;
        width: 60px;
        font-size: 11px;
        line-height: 18px;
        color: $primary-white;
        .icon {
          width: 24px;
          height: 24px;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      &.active .box {
        color: #7DA8EA;
      }
      &.membership {
        .icon {
        background-image: url('../../images/toolbar-membership-a2.svg');
        }
        &.active {
          .icon {
            background-image: url('../../images/toolbar-membership-a2-active.svg');
          }
        }
      }
      &.tour {
        .icon {
          background-image: url('../../images/toolbar-tour-a2.svg');
        }
        &.active {
          .icon {
            background-image: url('../../images/toolbar-tour-a2-active.svg');
          }
        }
      }
    }
    .my {
      margin-top: -36px;
      .box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid #fff;
        border-radius: 50%;
        background: linear-gradient(180deg, #DAE3FF 0%, #FFF 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .text {
          margin-top: 5px;
          @include text-en-bold;
          color: #3551A4;
          text-align: center;
        }
      }
      &.active {
        .box {
          background: linear-gradient(180deg, #031442 0%, #3551A4 100%);
          border-color:#5B7BDA;
          .text {
            color: #fff;
          }
        }
      }
    }
  }
}

#header-pc {
  padding: 28px 100px;
  border-bottom: 1px solid #EAF0F5;
  .box {
    position: relative;
    display: flex;
    justify-content: center;
  }
  h1 {
    position: absolute;
    left: 0;
    top: 0;
    img {
      height: 24px;
    }
  }
  .util {
    display: flex;
    gap: 0 32px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .gnb {
    ul {
      display: flex;
      gap: 0 60px;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      a {
        color: #000;
      }
    }
  }

  &.a2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom-width: 0;
    .gnb ul a {
      color: $primary-white;
    }
    img {
      filter: invert(1);
    }
    h1 img {
      filter: invert(0);
    }
  }
}